[submodule "Extern/Utils"]
	path = Extern/Utils
	url = https://github.com/CharlesCarley/Utils.git
[submodule "Extern/SDL"]
	path = Extern/SDL
	url = https://github.com/CharlesCarley/sdl.git
[submodule "Extern/Math"]
	path = Extern/Math
	url = https://github.com/CharlesCarley/Math.git
