[submodule "Extern/Utils"]
	path = Extern/Utils
	url = https://github.com/CharlesCarley/Utils.git
[submodule "Extern/SDL"]
	path = Extern/SDL
	url = https://github.com/CharlesCarley/sdl.git
[submodule "Extern/Math"]
	path = Extern/Math
	url = https://github.com/CharlesCarley/Math.git
[submodule "Extern/Freetype"]
	path = Extern/Freetype
	url = https://github.com/CharlesCarley/FreeType.git
[submodule "Extern/Image"]
	path = Extern/Image
	url = https://github.com/CharlesCarley/Image.git
[submodule "Extern/FreeImage"]
	path = Extern/FreeImage
	url = https://github.com/CharlesCarley/FreeImage.git
